
# Created by https://www.gitignore.io/api/java,angular
# Edit at https://www.gitignore.io/?templates=java,angular

### Angular ###
## Angular ##
# compiled output
videogames/dist/
videogames/tmp/
videogames/app/**/*.js
videogames/app/**/*.js.map

# dependencies
videogames/node_modules/
videogames/bower_components/

# IDEs and editors
.idea/

# misc
videogames/.sass-cache/
videogames/connect.lock/
videogames/coverage/
videogames/libpeerconnection.log/
videogames/npm-debug.log
videogames/testem.log
videogames/typings/

# e2e
videogames/e2e/*.js
videogames/e2e/*.map

#System Files
.DS_Store/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# End of https://www.gitignore.io/api/java,angular
