<div class="navbar navbar-expand-lg bg-dark text-white static-top">
    <div class="container">
        <div class="navbar-brand">
            <img src="https://www.jetpunk.com/img/user-photo-library/23/2357aa2d47-450.png" width="40px" height="auto"
                alt="">
            Jacagames
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/']"
                        routerLinkActive="router-link-active">Index</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/search']"
                        routerLinkActive="router-link-active">Search By Studio</a></li>
            </ul>
        </div>
        <div *ngIf="!logged">
            <button (click)="login(modalLogin)" class="btn" style="background-color: orange;">Log In</button>
        </div>
        <div *ngIf="logged">
            <button (click)="logout()" class="btn" style="background-color: rgb(255, 204, 109);">Log Out</button>
        </div>
    </div>

    <ng-template #modalLogin>
        <div class="modal-header">
            <div>
                <h3>Log In</h3>
            </div>
        </div>
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="modal-body text-center">

                <label for="email">Email</label><br>
                <input type="text" name="email" id="email">
                <hr>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password">

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" (click)="closeModal()">Close</button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>

    </ng-template>


</div>